name: CI

on:
  push:
    branches: [main, master]
    paths:
      - grammar.js
      - src/**
      - test/**
      - bindings/**
  pull_request:
    paths:
      - grammar.js
      - src/**
      - test/**
      - bindings/**

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: tree-sitter/setup-action/cli@v2
      - uses: tree-sitter/parser-test-action@v2
        with:
          test-rust: true
