name: Release

on:
  push:
    tags: ["v*"]

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: tree-sitter/setup-action/cli@v2
      - uses: tree-sitter/parser-test-action@v2
        with:
          test-rust: true

  release:
    needs: test
    uses: tree-sitter/workflows/.github/workflows/release.yml@main
